gunicorn
click>=8.0
Flask==2.1.1
Flask-WTF==0.14.2
gunicorn==19.9.0
itsdangerous>=2.0
Jinja2>=3.0
MarkupSafe>=2.0.0
six==1.11.0
Werkzeug>=2.0
WTForms==2.2.1
nltk>=3.4.5
scikit-learn>=0.18
requests
tabula-py==2.3.0
pdfplumber==0.6.2
openpyxl
